.fs {
    font-size: 14px;
}

/* ------------- Datatable --------- */
.page-item.active .page-link {
    background-color: #B138F7;
}
table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    background-color: #B138F7;
}
